<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <display-name>doLogin</display-name>
        <servlet-name>doLogin</servlet-name>
        <servlet-class>servlet.doLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doLogin</servlet-name>
        <url-pattern>/servlet/doLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>doPost</display-name>
        <servlet-name>doPost</servlet-name>
        <servlet-class>servlet.doPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doPost</servlet-name>
        <url-pattern>/servlet/doPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>doRegist</display-name>
        <servlet-name>doRegist</servlet-name>
        <servlet-class>servlet.doRegist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doRegist</servlet-name>
        <url-pattern>/servlet/doRegist</url-pattern>
    </servlet-mapping>
</web-app>